<%- model_class = Task -%>

<div class="page-header">
  <h1><%=t '.title', username: current_user.name + " " + current_user.surname, :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
